<h2> Rules </h2>
<p>
Each user choose a team from each of the rankings:

<strong>Rank A</strong><br>
Brazil, Spain, Germany, Argentina, Netherlands, Italy, England, Portugal
<br><br>
<strong>Rank B</strong><br>
France, Croatia, Russia, Colombia, Belgium, Uruguay, Switzerland, Mexico
<br><br>
<strong>Rank C</strong><br>
Greece, Chile, Ecuador, Côte d\'Ivoire, Nigeria, Cameroon, Boasnia and Herzegovina, USA
<br><br>
<strong>Rank D</strong><br>
Japan, Iran, Australia, Korea Republic, Costa Rica, Honhuras, Algeria, Ghana
