<h2> Rules </h2>
<p>
	Each user chooses <strong>six</strong> teams - four teams that he thinks that will preform 
	the best, a team that will score the most goals, the team that will get
	the most goals and the team that wins the cup.
</p>
<h3> Score calculation </h3>
	<p>
		Each match in which one of your chosen teams takes part gives you points according to 
		the following table:<br>
	</p> 
	<div class="score-table">
		<table class="table">
			<thead>
				<th></th>
				<th>Rank A</th>
				<th>Rank B</th>
				<th>Rank C</th>
				<th>Rank D</th>
			</thead>
			<tbody>
				<tr>
					<td><strong>Rank A</strong></td>
					<td>3 / 1 / 0</td>
					<td>3 / 1 / 0</td>
					<td>3 / 1 / -1</td>
					<td>3 / 0 / -2</td>
				</tr>
				<tr>
					<td><strong>Rank B</strong></td>
					<td>3 / 1 / 0</td>
					<td>3 / 1 / 0</td>
					<td>3 / 1 / 0</td>
					<td>3 / 1 / -1</td>
				</tr>
				<tr>
					<td><strong>Rank C</strong></td>
					<td>5 / 2 / 0</td>
					<td>3 / 1 / 0</td>
					<td>3 / 1 / 0</td>
					<td>3 / 1 / 0</td>
				</tr>
				<tr>
					<td><strong>Rank D</strong></td>
					<td>6 / 3 / 0</td>
					<td>5 / 2 / 0</td>
					<td>3 / 1 / 0</td>
					<td>3 / 1 / 0</td>
				</tr>
			</tbody>
		</table>
		<br><br>
		<table class="table">
			<thead>
				<th></th>
				<th>Rank A</th>
				<th>Rank B</th>
				<th>Rank C</th>
				<th>Rank D</th>
			</thead>
			<tbody>
				<tr>
					<td><strong>Round Qualification</strong></td>
					<td>2</td>
					<td>3</td>
					<td>5</td>
					<td>7</td>
				</tr>
				<tr>
					<td><strong>Winning The Cup</strong></td>
					<td>5</td>
					<td>7</td>
					<td>10</td>
					<td>15</td>
				</tr>
			</tbody>
		</table>
	</div>


<p>
	<strong>Rank A</strong><br>
	Brazil, Spain, Germany, Argentina, Netherlands, Italy, England, Portugal
	<br><br>
	<strong>Rank B</strong><br>
	France, Croatia, Russia, Colombia, Belgium, Uruguay, Switzerland, Mexico
	<br><br>
	<strong>Rank C</strong><br>
	Greece, Chile, Ecuador, Côte d\'Ivoire, Nigeria, Cameroon, Boasnia and Herzegovina, USA
	<br><br>
	<strong>Rank D</strong><br>
	Japan, Iran, Australia, Korea Republic, Costa Rica, Honhuras, Algeria, Ghana
</p>

<p> Every goal the team you've chosen as top scorer scores, and every goal the team you've chosen
	as the team that gets the most goals gives you half a point.