<h3> Rules </h3>
<p>
Each user choose a team from each of the rankings:

Rank A
Brazil, Spain, Germany, Argentina, Netherlands, Italy, England, Portugal
<br><br>
Rank B
France, Croatia, Russia, Colombia, Belgium, Uruguay, Switzerland, Mexico
<br><br>
Rank C 
Greece, Chile, Ecuador, Côte d\'Ivoire, Nigeria, Cameroon, Boasnia and Herzegovina, USA
<br><br>
Rank D
Japan, Iran, Australia, Korea Republic, Costa Rica, Honhuras, Algeria, Ghana
