<%= content_tag :div, class: 'bet-setup all-teams all-teams-radio', id: "bet-setup-step-#{@step}" do -%>
	<p>STEP 6: pick the team that will get the most goals scored to (you get half a point for every goal)</p>
	<%= render partial: 'pick_a_team' %>
<%- end %>