<%= content_tag :div, class: 'bet-setup all-teams-radio', id: "bet-setup-step-#{@step}" do -%>
	<p>STEP 5: pick the team that you think will score the most goals (you get half a point for every goal)</p> 
	<div><%= render partial: 'pick_a_team' %></div>
<%- end %>