<%= content_tag :h2, 'User Ranking' %>	
<table>
  <thead>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    	<tr>
    		<td><%= user.name_with_nickname %></td>
    		<td><%= user.points %></td>
    	</tr>
    <% end %>
  </tbody>
</table>