// Place all the styles related to the tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #e0e0e0;
	margin-left: 150px;
	margin-right: 150px;
}

.match{
	width: 745px;
	padding-top: 35px;

	span{
		font-size: 22px;
	}
	// .team_a{
	// 	padding-left: 100px;
	// }
	.team_b {
		img {
			float: right;
			// padding-right: 		
		}
		p{
			
			margin-left: 112px;
			float: left;
			text-align: right;		
		}
		// padding-right: 50px;
	}
}


.bet_setup{
	.header{
		font-size: 70px;		
	}

	height: 600px;

}