// Place all the styles related to the tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
	.countdown{
		width: 225px;
		height: 53px;
		float: right;
		margin-top: 20px;
	}
	h3 {
		float: left;
	}
}



body {
	background: #e0e0e0;
	// margin-left: 150px;
	padding-left: 30px;
	padding-right: 30px;
	// margin-right: 150px;


}

.match{
	// width: 745px;
	padding-top: 35px;
	padding-bottom: 35px;
	// height: 130px;
	span,div{
		font-size: 22px;
	}
	.time {
		text-align: center;
	}


	.team_a{
		padding-left: 50px;
		p {
			float: left;
			// padding-right: 		
		}
	}
	.team_b {

		
		img {
			float: right;
			// padding-right: 		
		}
		// padding-right: 50px;
	}
}


.bet_setup{
	.header{
		font-size: 70px;		
	}
	.rules{
		height: 600px;
		overflow-y: scroll;
	}
	// overflow-y: scroll;
	
	.btn{
		background-color: #aad2ff;
	}

	height: 730px;


	// input[type="radio"]{
	// 	margin-top: 30px;
 //  		vertical-align: middle;
	// }
}

// .all-teams
// {
// 	height: 910px;
// }
.all-teams-radio {
	
	.radio {
		margin-top: 0px;
		margin-bottom: 0px;
		float: left;
		width:	130px;
		height: 75px;
	}
}



.user-rank{
	table{
 		border-collapse: collapse;
		font-size: 24px;

		td{
			width: 100%;
		    padding-top: .5em;
		    padding-bottom: .5em;
		
			.user-bet{
				display: none;

				// table {
				// 	border-spacing: 5px;
				// }

				th{
					text-align: center;
					font-size: 0.6em;				
				}
				td{
					padding: 7px;				
				}
			
			}

		}
		.points {
			position: absolute;
		}
	}
}

